<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Products</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<h1>Welcome to products page</h1>

	<form action="products" method="POST">

		<label> product name</label><br />

		<input name="name"> <br />

		<label> Quantity</label><br/>

		<input name="qty"> <br>
		<label> price</label><br/>

		<input type="number" name="price"> <br>

		<button type="submit">submit</button>

	</form>
</body>
</html>